@font-face {
    font-family : "Bubble";
    src: url(/assets/font/bubbleboddyNeue-regular.woff);
}
@font-face {
    font-family : "Comfortaa";
    src: url(/assets/font/Comfortaa-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.8;
  background-color: #fdd90B;
  color: #151217;
}

@media screen and (max-width: 599px) {
  
  /* Produit */ 
  h1{
    font-size: 24px;
    font-family:'Bubble', sans-serif;
  }
  h2{
    font-size: 20px;
    font-family:'Bubble', sans-serif;
  }
  h3{
    font-size: 17px;
    font-family:'Bubble', sans-serif;
  }
  h4{
    font-size: 15px;
    font-family:'Bubble', sans-serif;
  }
  p, ul, li, a{
    font-size: 14px;
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 18px;
    text-align: justify;
  }
  h1{
    padding: 10px 10px;
  }
   .container-descriptif {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: stretch;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    padding: 20px 20px;
  }
  .produit-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
  }
  .caracteristiques strong {
    color: #DA001E;
    font-size: 40px;
  }
  .caracteristiques button a {
    text-decoration: none;
    color: white;
    background-color: #DA001E;
    padding: 10px 20px;
    font-weight: bold;
  }
  .caracteristiques button a:hover {
    text-decoration: none;
    color: #151217;
    background-color: #f9D0A3;
    padding: 10px 20px;
    font-weight: bold;
  }
  button{
    border: none;
    font-family: 'Comfortaa', sans-serif;
    margin: auto;
  }
  .caracteristiques h2{
    text-decoration: underline;
  }
  .produit-detail img {
    width: 250px;
    height: 200px;
    align-self: center;
  }
  ul {
    list-style-type: square;
    padding-left: 20px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

  /* Produit */
  h1{
    font-size: 32px;
    font-family:'Bubble', sans-serif;
  }
  h2{
    font-size: 28px;
    font-family:'Bubble', sans-serif;
  }
  h3{
    font-size: 22px;
    font-family:'Bubble', sans-serif;
  }
    h4{
  font-size: 18px;
  font-family:'Bubble', sans-serif;
  }
  p, ul, li,a {
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 18px;
    text-align: justify;
  }
  h1{
    padding: 10px 10px;
  }
  .container-descriptif {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: stretch;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    padding: 20px 20px;
  }
  .produit-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  .caracteristiques strong {
    color: #DA001E;
    font-size: 40px;
  }
  .caracteristiques button a {
    text-decoration: none;
    color: white;
    background-color: #DA001E;
    padding: 10px 20px;
    font-weight: bold;
    
  }
  .caracteristiques button a:hover {
    text-decoration: none;
    color: #151217;
    background-color: #f9D0A3;
    padding: 10px 20px;
    font-weight: bold;
  }
  button{
    border: none;
    font-family: 'Comfortaa', sans-serif;
    margin: auto;
  }
  .caracteristiques h2{
    text-decoration: underline;
  }
  .produit-detail img {
    width: 250px;
    height: 200px;
    align-self: center;
  }
  ul {
    list-style-type: square;
  }}

@media screen and (min-width: 1024px) {
  
  /* Qui sommes-nous */  
  h1{
    font-size: 40px;
    font-family:'Bubble', sans-serif;
  }
  h2{
    font-size: 32px;
    font-family:'Bubble', sans-serif;
  }
  h3{
    font-size: 24px;
    font-family:'Bubble', sans-serif;
  }
  h4{
    font-size: 20px;
    font-family:'Bubble', sans-serif;
  }
  p, ul, li, a {
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 18px;
    text-align: justify;
  }
  h1{
    padding: 10px 10px;
  }
    .container-descriptif {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: stretch;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    padding: 20px 20px;
  }
  .produit-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  .caracteristiques strong {
    color: #DA001E;
    font-size: 40px;
  }
  .caracteristiques button a {
    text-decoration: none;
    color: white;
    background-color: #DA001E;
    padding: 10px 20px;
    font-weight: bold; 
  }
  .caracteristiques button a:hover {
    text-decoration: none;
    color: #151217;
    background-color: #f9D0A3;
    padding: 10px 20px;
    font-weight: bold;
  }
  button{
    border: none;
    font-family: 'Comfortaa', sans-serif;
    margin: auto;
  }
  .caracteristiques h2{
    text-decoration: underline;
  }
  .produit-detail img {
    width: 250px;
    height: 200px;
    align-self: center;
  }
  ul {
    list-style-type: square;
  }
}