/* Import des polices */
@font-face {
  font-family: 'BubbleboddyNeue';
  src: url('assets/fonts/bubbleboddyNeue-regular.woff') format('woff');
}
@font-face {
  font-family: 'Comfortaa-Regular';
  src: url('assets/fonts/Comfortaa-Regular.woff') format('woff');
}
