<div class="container-accueil">
  <section class="container-presentation">
    <h1>Bienvenue au Petit Village !</h1>
    <p>
      L'histoire de "Au Petit Village" est avant tout une histoire de passion.
      Une passion dévorante pour l'univers foisonnant d'Astérix et Obélix, né de
      l'imagination fertile de René Goscinny et Albert Uderzo.
    </p>
    <p>
      Une passion qui, en 2005, a germé dans l'esprit de quelques amis, tous
      collectionneurs avertis et amateurs inconditionnels de la célèbre bande
      dessinée.
    </p>
    <button>
      <a routerLink="/about" routerLinkActive="active">En savoir plus</a>
    </button>
  </section>

  <div class="container-card">
    <h2 class="titre-card-accueil">Nos produits</h2>
    <div class="card-group-accueil">
      <div *ngFor="let product of filteredProducts" class="card-accueil">
        <img [src]="product.image" [alt]="product.name" />
        <h4>{{ product.name }}</h4>
        <p class="price">{{ product.price }}€</p>
        <button [routerLink]="['/product', product.id]">Découvrir</button>
      </div>
    </div>
  </div>

  <div class="search-sort">
    <input
      type="text"
      placeholder="Chercher par nom"
      [(ngModel)]="searchTerm"
      (input)="onSearchChange()"
    />
    <button (click)="onSortChange('asc')">Prix croissant</button>
    <button (click)="onSortChange('desc')">Prix décroissant</button>
  </div>
</div>
