<footer class="container-footer">
      <section class="presentation-footer">
        <h3>Au petit village</h3>
        <p>
          Au petit village" est une entreprise passionnée et innovante,
          spécialisée dans la création de figurines de haute qualité inspirées
          de la célèbre bande dessinée "Astérix et Obélix". Fondée en 2005 par
          un groupe d'enthousiastes collectionneurs et amateurs de bandes
          dessinées, notre entreprise est née de l'amour partagé pour les
          aventures époustouflantes de nos héros gaulois, Astérix, Obélix, et
          leurs amis.
        </p>
      </section>
      <section class="reseaux">
        <h3>Réseaux sociaux</h3>
        <div class="icon-group">
          <a href="https://facebook.com" target="_blank"
            ><img
              class="img-facebook"
              src="assets/images/facebook.png"
              alt="logo facebook"
          /></a>
          <a href="https://instagram.com" target="_blank"
            ><img
              class="img-instagram"
              src="assets/images/instagram.png"
              alt="logo instagram"
          /></a>
        </div>
      </section>
      <p>&copy; 2025 Au petit village</p>
    </footer>
